@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui";
@plugin "tailwindcss-motion";

body {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url('tulle-lg.webp');
  background-size: cover;
  
  min-height: 100vh;
}
