@import 'tailwindcss';


@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: cupcake, caramellatte, retro, valentine;
}
@plugin "tailwindcss-motion";

body {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
    url('/tulle-lg.webp');
  background-size: cover;
  
  min-height: 100vh;
}


.pinyon-script-regular {
  font-family: "Pinyon Script", "Brush Script MT", cursive;
  font-style: normal;
}

.clickable {
  @apply transition-transform hover:scale-105 hover:cursor-pointer active:scale-100;
}
.clickable-rotate {
  @apply transition-transform hover:rotate-6 active:rotate-0;
}